.rodapeTexto{

    display: block;
    margin: auto;
    padding: 12px;
}


@media  (max-width: 920px)  {
    

    .rodapeTexto{

        display: grid;
        margin: auto;
        padding: 0px;
    }

    .rodape{

        width: 100%;
    }
}