.rodapeTexto{

    display: block;
    margin: auto;
    padding: 12px;
   
}

.rodape{

    position: absolute;
    bottom: 0;
    width: 100%;
}

@media  (max-width: 1600px)  {
    

    .rodapeTexto{

        display: grid;
        margin: auto;
        padding: 0px;
    }

    .rodape{

        width: 100%;
        position: inherit;
        bottom: auto;
    }
}